@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

main section img {
    box-sizing: border-box;
}

nav a {
    text-align: center;
    color:#fb6107;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #475779;
    color:#141615;
}

#hero_image {
    width: 100%;
}

#hero_msg h1 {
    text-align: center;
    font-family: 'Rubik Dirt', 'Rubik', sans-serif;

}

#hero_msg h4 {
    text-align: center;
    font-family: 'Rubik Dirt', 'Rubik', sans-serif;

}

.logo {
    width: 80px;
}

.button_box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #e9eaef;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.copy {
    font-family: 'Rubik', Arial, sans-serif;

}

header {
    background-color: #475779;
}

.icon {
    width: 80px;
}

.book, .join {
    background-color: #475779;
    color:#fb6107;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}



.book:hover {
    background-color: #475779;
    color:#141615;
}

.join:hover {
    background-color: #475779;
    color:#141615;
}

#background {
    background-color:#475779;
}

.msg {
    background-color:#475779;
    line-height: 1.5em;
    padding:35px;
}

.msg h2 {
    color:#141615;
}

.msg p {
    color:#141615;
    padding-bottom: 15px;
}

footer {
    background-color:#475779;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social image {
    padding: 15px;
}

footer h3 {
    color:#141615;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color:#fb6107;
    text-decoration: underline;
}

footer a:hover {
    color:#141615;
}

.home_title {
    color:#141615;
    margin-top: 10px;

}

h4 {
    color:#141615;
}

.home_grid h2 {
    font-family: 'Rubik Dirt', 'Rubik', sans-serif;


}

.card_img {
   
    border: #141615 10px;
}

.rivers_card, .capmping_card, .rapids_card {
    margin: 200px 0;
}

